.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0px 200px;
  padding: 10px 0px;
  align-items: center;
}

.logo {
  height: 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
}
